body{
    background-image: url(assets/background.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
}

@font-face {
    font-family: 'digital';
    src: url('./src/assets/digital-7%20(mono%20italic).ttf') format('truetype');
}